.about-title h1 {
  margin: 1.7rem 0;
  font-size: 55px;
  color: #ef4713;
}
.about {
  background-color: #a5a5a5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-sections {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin:3rem 11rem;
}

.about-left {
  flex: 1;
  text-align: center;
}

.about-left img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.about-left img:hover {
  transform: translateY(-10px);
}

.about-right {
  flex: 2;
  padding: 20px;
  text-align: left;
}

.about-right p {
  margin: 0 0 20px;
  line-height: 1.6;
  font-size: 22px;
}


@media (max-width: 1024px) {
  .about-sections {
    flex-direction: column;
    gap: 20px;
    margin: 10px 5%;
  }

  .about-right p {
    font-size: 20px;
  }

  h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .about-right {
    padding: 15px;
  }

  .about-right p {
    font-size: 18px;
  }

  h1 {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .about-sections {
    gap: 15px;
    margin: 10px 2%;
  }

  .about-right p {
    font-size: 16px;
  }

  h1 {
    font-size: 25px;
  }
}
